<% fourth() -%>
<h2>Is it the 4th of July?</h2>
<% if @fourth -%>
<body class="fourth">
  <h1 class="fourth">Heck YA!</h1>
</body>
<% else -%>
<h1>NO</h1>
<% end -%>
<footer>
<a href="https://github.com/spuder/isitthefourthofjuly" target="_blank">https://github.com/spuder/isitthefourthofjuly</a>
</footer>